.titles{
	text-decoration: underline;
}

.title_images{
	width: 100%;
	height:50%;
}

.title_images img{
	width:15%;
	height: 15%;
	/*float: left;*/
	border:0px;
}

.my_info{
	margin-top: 5%;
	text-align: left;
}

.reveal h1{
	font-size: 1.3em;
}

section .present .float-left{
	float: left;
}

.definitions{
	color: #FE0000;
	font-style: italic;
}

.work{
	color: #AE1AF7; 
}

.volunteer{
	color: #8DC63F;
}

.think{
	color: #FF9800;
}

.choice-items{
	float: left;
}
/*.reveal p{
	font-size: .5em;
}*/

.list-align{
	float: left;
}

